body {
                background-color: lightblue;
        }
h1 {
                color: white;
                text-align: center;
        }

P {
                front-family: verdana;
                font-size: 20px:
        }
